/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(#fa7257, #fc63a7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
.cards-container {
  display: flex;
  text-align: center;
}

.eachCard {
  margin: 10px;
  padding: 30px;
}

.show-hide-card {
  margin: 10px;
  width: 250px;
  height: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background-color: #fddddb;
  color: black;
}
button {
  padding: 9px;
  border-radius: 7px;
  border-style: none;
  color: #dd1264;
  font-weight: bold;
}

@media (max-width: 768px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
